{% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		{% include 'navbar.html' %}

		  <div class="row">
		    	<div class="col-md-8">
					<div class="container">
				    	<h1>--------------------------Your Profile----------------------</h1>
				    	<hr/>



				    	<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
							{{ edit | crispy }}
					        <input class='btn btn-success' type="submit" value="Submit" />
           				</form>
						

						<a class = 'btn btn-success' href ="../my_criteria"> Edit your own criteria </a>

<!-- 							{% for fields,value in profile.items %}
								{% if fields != 'id'%}
										<li> {{fields}} = {{value}} 
											<div class="pull-right"> <a>edit</a> </div>
										</li> 
										<hr>
								{% endif %}
							{% endfor %}
 -->									    	

			    	</div>


			    </div>
<!-- 			    <div class="col-md-4">
					<div class="well">
						hey
			    	</div>
			    </div>
 -->		  </div>
	</body>
</html>