<!DOCTYPE html>
<html>

	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="index.css">



	</head>

	<body>

	{% include 'navbar.html' %}

	<div class = "container special">
		<div class ="jumbotron">
				<h1>Hi!</h1>
				Welcome to shroomme
		</div>
		<hr>
		<div class ="jumbotron">
				<h1>Hi!</h1>
				Welcome to shroomme
		</div>
		<hr>

	</div>









	</body>


</html>