{% load staticfiles %}
<html>
	<body>
		<link rel="stylesheet" href="{% static "myprofile.css" %}">
		{% include 'navbar.html' %}	
		<h1>Hi! {{ user.username }}</h1>
		<h1> This is your profile </h1>
		<hr>
		<div class = "well">
			{% for myprofile in result %}
				first_name = {{myprofile.first_name}}<br>
				middle_name = {{myprofile.middle_name}}<br>
				last_name = {{myprofile.last_name}}<br>
				gender = {{myprofile.gender}}<br>
				nationality = {{myprofile.nationality}}<br>
				university = {{myprofile.university}}<br>
			{% endfor %}
		</div>
	</body>
</html>