{% load staticfiles %}
{% load crispy_forms_tags %}



<!DOCTYPE html>
<html>
	<head>
		{% include 'navbar.html' %}				
	</head>

<body>
	<div id="fullpage">
		<div class="section">
		    <div class="slide"> 
		    	<div class = "first-slide" meta-name = "----------------------------FIRST-PAGE--------------------------------------------------------------------------">
			    	<div class = "grid slide-content">
				    	<div class = "row">
					    	<div class = "col-md-6">
						    		 <h2> Personal Information </h2>
						    </div>
						</div>
						<hr>
						<div class = "row one-line">
						    <div class = "col-md-2 input-tag" >
							    First Name
							</div>	
							<div class = "col-md-3">
							    	<input id ="first_name" type="text" class = "input-bar">
							</div>
						</div>
						<div class = "row one-line">
						    <div class = "col-md-2 input-tag" >
							    Last Name
							</div>	
							<div class = "col-md-3">
							    	<input id ="last_name" type="text">
							</div>
						</div>
						<div class = "row one-line">
						    <div class = "col-md-2 input-tag" >
							    Date of birth
							</div>	
							<div class = "col-md-3">
							    	<input id ="date_of_birth" type="text">
							</div>
						</div>
						<div class = "row one-line" >
						    <div class = "col-md-2 input-tag" >
							    Gender
							</div>	
							<div class = "col-md-3">
							    	<input id ="" type="text">
							</div>
						</div>
						<div class = "row one-line">
						    <div class = "col-md-2 input-tag" >
							    Nationality
							</div>	
							<div class = "col-md-3">
							    	<input id ="first_name" class = "upload-button" type="text">
							</div>
						</div>
						<div class = "profile-image">
							<img src = "htta" class = "round-image"/>
						</div>
						<div class = "progress-bar-wrapper">
							<div class="progress">
							  <div class="progress-bar" role="progressbar" aria-valuenow="33"
							  aria-valuemin="0" aria-valuemax="100" style="width:33%">
							    <span class="sr-only"></span>
							  </div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    <div class="slide">  
		    	<div class = "second-slide" meta-name = "----------------------------second-PAGE--------------------------------------------------------------------------">
		    		<div class = "grid slide-content">
		    			<div class = "page-header"> 
		    				<h2> Tell us more about yourself </h2>
		    			</div>
						<div class = "row row-content">
							<div class= "col-md-3">	
								Country of origin
							</div>
							<div class= "col-md-9">	
								<input type = "text" id="nationality">
							</div>
							<div class= "col-md-3">	
								Major
							</div>
							<div class = "col-md-9">
								<input type = "text" id="major">
							</div>

							<div class = "col-md-3">
								Smoking
							</div>
							<div class = "col-md-9">
	 							<input type ="checkbox" class="smoking" id="smoking_no"> No
	 							<input type ="checkbox" class="smoking" id="smoking_yes"> Yes
	 						</div>
							<div class = "col-md-3">
								Pet
							</div>
							<div class = "col-md-9">
	 							<input type ="checkbox" class="pet" id="pet_no"> No
	 							<input type ="checkbox" class="pet" id="pet_yes"> Yes
	 						</div>
							<div class = "col-md-3">
								Gender
							</div>
							<div class = "col-md-9">
	 							<input type ="checkbox" class="gender" id="gender_male"> Male
	 							<input type ="checkbox" class="gender" id="gender_female"> Female
	 						</div>



							{% for elem in slider_attributes %}
								<div class = "col-md-3">
									{{elem}}
								</div>
								<div class = "col-md-9">
									<div class = "slide-wrapper">
				                        <input class = "my-slider" type="range" min="1" max="5" value="3" id = "{{elem}}">
<!-- 										{{elem.1}}
										{{elem.2}}-->
 				                    </div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
		    </div> 
		    <div class="slide"> 
		    	<div class = "THIRD-SLIDE" meta-name = "----------------------------THIRD-PAGE--------------------------------------------------------------------------">
		    		<div class = "grid slide-content">
		    			<div class = "page-header"> 
		    				<h2> Tell us more about yourself </h2>
		    			</div>
						<div class = "row row-content">
							<div class= "col-md-3">	
								Country of origin
							</div>
							<div class= "col-md-9">	
								<input type = "text" id = "search_nationality">
							</div>
							<div class= "col-md-3">	
								Major
							</div>
							<div class = "col-md-9">
								<input type = "text" id = "search_major">
							</div>

							<div class = "col-md-3">
								Smoking
							</div>
							<div class = "col-md-9">
	 							<input type ="checkbox" class="smoking" id="search_smoking_no"> No
	 							<input type ="checkbox" class="smoking" id="search_smoking_yes"> Yes
	 							<input type ="checkbox" class="smoking" id="search_smoking_any"> Any
	 						</div>
							<div class = "col-md-3">
								Pet
							</div>
							<div class = "col-md-9">
	 							<input type ="checkbox" class="pet" id="search_pet_no"> No
	 							<input type ="checkbox" class="pet" id="search_pet_yes"> Yes
	 							<input type ="checkbox" class="pet" id="search_pet_any"> Any
	 						</div>
							<div class = "col-md-3">
								Gender
							</div>
							<div class = "col-md-9">
	 							<input type ="checkbox" class="gender" id="search_gender_no"> Male
	 							<input type ="checkbox" class="gender" id="search_gender_yes"> Female
	 							<input type ="checkbox" class="gender" id="search_gender_any"> Any
	 						</div>
							{% for elem in slider_attributes %}
								<div class = "col-md-3">
									{{elem}}
								</div>
								<div class = "col-md-9">
									<div class = "slide-wrapper">
				                        <input class = "my-slider" type="range" min="1" max="5" value="3" id = "search_{{elem}}">
<!-- 										{{elem.1}}
										{{elem.2}}-->
 				                    </div>
								</div>
							{% endfor %}
							<btn id = "post_test" class ="btn"> SUBMIT</btn>
						</div>
					</div>
				</div>
		    </div>
		</div>
	</div>
</div>

<script src="{% static 'build/js/jquery-1.11.3.js' %}"></script>
<script type="text/javascript" src="{% static "build/js/jquery.fullPage.js"%}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script>



<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
        //Navigation
        menu: '#menu',
        lockAnchors: false,
        anchors:['firstPage', 'secondPage'],
        navigation: false,
        navigationPosition: 'right',
        navigationTooltips: ['firstSlide', 'secondSlide'],
        showActiveTooltip: false,

        //Scrolling
        css3: true,
        scrollingSpeed: 700,
        autoScrolling: true,
        fitToSection: true,
        fitToSectionDelay: 1000,
        scrollBar: false,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        loopBottom: false,
        loopTop: false,
        loopHorizontal: false,
        continuousVertical: false,
        normalScrollElements: '#element1, .element2',
        scrollOverflow: false,
        touchSensitivity: 15,
        normalScrollElementTouchThreshold: 5,

        //Accessibility
        keyboardScrolling: true,
        animateAnchor: true,
        recordHistory: true,

        //Design
        verticalCentered: true,
        resize : false,
        sectionsColor : ['#ccc', '#ccc'],
        paddingTop: '3em',
        paddingBottom: '10px',
        fixedElements: '.nav-bar',
        responsiveWidth: 0,
        responsiveHeight: 0,

        //Custom selectors
        sectionSelector: '.section',
        slideSelector: '.slide',

        //events
        onLeave: function(index, nextIndex, direction){},
        afterLoad: function(anchorLink, index){},
        afterRender: function(){},
        afterResize: function(){},
        afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){},
        onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
    });
});</script>

<style>
	.slide-content{
		margin-top: 3%;
		margin-bottom: 90%;
		text-align: left;
	}
	.page-header{
		padding-top: 8px;
		padding-left : 1%;
	}
	.slide-title{
		margin-left : 10%;

	}
	.slide-fields{
		margin-left: 10%;
	}
	.grid{
		background-color: #fff;
		width : 80%;
		height : 700px;
		margin-left : auto;
		margin-right : auto;
		position: relative;		
	}
	.row-content{
		padding-left:1%;

	}

	.one-line{
		margin-bottom: 10px;
	}
	.input-tag{
		padding-top: 3px;
		height: 25px;
	}
	.input-bar{
		height: 25px;
	}

	.profile-image{
	    position:absolute;
		right : 5%;		
		top: 15%;

	}
	.upload-button{
		float : left;

	}
	.progress-bar-wrapper{
		position: absolute;
		margin-left: 15%;
		bottom: 0;
		width : 60%;

	}


	.slide-wrapper{
		width : 300px;

	}

	.round-image {
		width: 150px;
		height: 150px;
		border-radius: 150px;
		-webkit-border-radius: 150px;
		-moz-border-radius: 150px;
		background: url(URL) no-repeat;
		box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		margin-bottom: 10px;
		margin-left:25px;
	}

</style>


<script>

	$("#post_test").click(function (){
		grab_data()

	});

	$('.gender').on('change', function() {
	    $('.gender').not(this).prop('checked', false);  
	});

	$('.smoking').on('change', function() {
	    $('.smoking').not(this).prop('checked', false);  
	});

	$('.pet').on('change', function() {
	    $('.pet').not(this).prop('checked', false);  
	});

	var slider_attributes= []
	{% for elem in slider_attributes %}
		slider_attributes.push("{{elem}}")
	{%endfor %}

	var myCriteria_dict = {}
	var searchCriteria_dict = {}
	var post_data = {}
	var choices_attribute = ['smoking','pet','gender']
	var pet_choices = ['yes','no','any']

	function grab_data(){
		post_data['first_name'] = $('#first_name').val()
		post_data['last_name'] = $('#last_name').val()
		post_data['nationality'] = $('#nationality').val() 
		post_data['search_nationality'] = $('#search_nationality').val() 
		post_data['major'] = $('#major').val()
		post_data['search_major'] =  $('#search_major').val()
		post_data['csrfmiddlewaretoken'] = "{{ csrf_token }}"


		console.log($('#search_smoking_yes').is(":checked"))
	
		//grabbing slider data
		for (var elem in slider_attributes){
			var tag = slider_attributes[elem]
			var temp_my_attr = $('#'+tag).val()
			post_data[tag] = temp_my_attr

			var search_tag = "search_" +slider_attributes[elem]
			var temp_search_attr = $('#'+search_tag).val()
			post_data[search_tag] = temp_search_attr

		}

		for (var elem in choices_attribute){
			var tag = choices_attribute[elem]
			var search_tag = "search_" + choices_attribute[elem]
			for (var elem2 in pet_choices){
				var value = $('#'+tag+'_'+pet_choices[elem2]).is(':checked')
				if(value){
					post_data[tag] = pet_choices[elem2]
				}
				var search_value = $('#'+search_tag+'_'+pet_choices[elem2]).is(':checked')
				if(search_value){
					post_data[search_tag] = pet_choices[elem2]
				}

			}
		}
		console.log(post_data)
		//post("../create_profile",post_data)
	}



	function post(path, params, method) {
	    method = method || "post"; // Set method to post by default if not specified.

	    // The rest of this code assumes you are not using a library.
	    // It can be made less wordy if you use one.
	    var form = document.createElement("form");
	    form.setAttribute("method", method);
	    form.setAttribute("action", path);

	    for(var key in params) {
	        if(params.hasOwnProperty(key)) {
	            var hiddenField = document.createElement("input");
	            hiddenField.setAttribute("type", "hidden");
	            hiddenField.setAttribute("name", key);
	            hiddenField.setAttribute("value", params[key]);

	            form.appendChild(hiddenField);
	         }
	    }

	    document.body.appendChild(form);
	    form.submit();
	}

</script>


</body>


</html>