{% load staticfiles %}
<html>
	<body>
		<link rel="stylesheet" href="{% static "myprofile.css" %}">
		{% include 'navbar.html' %}	
		<h1>Hi! {{ user.username }}</h1>
		<h1> Your Notifications </h1>
		<hr>
		<div class = "well">
			{% for elem in notification_result %}
				<div id = '{{elem.notification_id}}'>
					<!-- **************** FRIEND REQUEST NOTIFICATION ****************-->
					{% if elem.notification_type == 'FR'%}
						<h1>This is Friend Request notification</h1>
						<br>
						User : {{elem.user1}}
						Message : {{elem.message}}			
					    <div class = "btn btn-success" id="accept_friend" target = '{{elem.target_id}}' this = '{{elem.notification_id}}' user1_uuid='{{elem.user1_uuid}}' user2_uuid='{{elem.user2_uuid}}'> 
					    	Accept Friend 
					    </div>

					    <div class = "btn btn-danger" id="ignore_friend" target = '{{elem.target_id}}' this = '{{elem.notification_id}}' user1_uuid='{{elem.user1_uuid}}' user2_uuid='{{elem.user2_uuid}}'>
					    	Ignore Friend Request 
					    </div>
						<a href="../show_user/?profile_id={{elem.user1_uuid}}">see profile </a>
					<!-- **************** FRIEND ACCEPT NOTIFICATION ****************-->
					{% elif elem.notification_type == 'FA' %}
						<h1>This is Friend Accepted Notification</h1>
						<br>
						User : {{elem.user1}}
						Message : {{elem.message}}
						<div class = "btn btn-success" id = "ok_notification" this_id='{{elem.notification_id}}'>
							ok
						</div>
				{% endif %}
					<hr>
				</div>
			{% endfor %}
		</div>

		<script>

			$('#accept_friend').click(function (e){
				console.log("ACCEPT_FRIEND_PRESSED");
				e.preventDefault();
				var target_id = $(this).attr("target"); //targetid = target of the friend_relation in the table
				var this_id = $(this).attr("this"); //targetid = target of the friend_relation in the table
				var user1_uuid = $(this).attr("user1_uuid");
				var user2_uuid = $(this).attr("user2_uuid");
				$.ajax
		    	({ 
			        url: '/change_friend_status/',
			        data: {"type":"accept",
			        	   "target_id":target_id,
			        	   "this_id":this_id,
			        	   "user1_uuid":user1_uuid,
			        	   "user2_uuid":user2_uuid,
			        	   csrfmiddlewaretoken: '{{ csrf_token }}'},
			        type: 'post',
			        success: function()
			        {
			        	alert("ACCEPT_FRIEND_STATUS");
						$('#'+this_id).hide('slow');																
			        }
			    });
			});

			$('#ignore_friend').click(function (e){
				console.log("IGNORE_FRIEND_PRESSED");				
				e.preventDefault();
				var target_id = $(this).attr("target"); //targetid = target of the friend_relation in the table
				var this_id = $(this).attr("this"); //targetid = target of the friend_relation in the table
				var user1_uuid = $(this).attr("user1_uuid");	
				var user2_uuid = $(this).attr("user2_uuid");							
				$.ajax
		    	({ 
			        url: '/change_friend_status/',
			        data: {"type":"ignore",
			        		"target_id":target_id,
			        		"this_id":this_id,
			        		"user1_uuid":user1_uuid,
  			        	    "user2_uuid":user2_uuid,
			        		csrfmiddlewaretoken: '{{ csrf_token }}'},
			        type: 'post',
			        success: function()
			        {
			        	alert("IGNORE_FRIEND_STATUS");
						$('#'+this_id).hide('slow');																
			        }
			    });
			});


			$('#ok_notification').click(function(e){
				console.log("OK_PRESSED");
				var this_id = $(this).attr("this_id");
				e.preventDefault();
				$.ajax({
					url :'/change_friend_status/',
					data : {
							"type":"delete_notification",
							"this_id":this_id,
							csrfmiddlewaretoken: '{{ csrf_token }}'							
					},
					type:'post',
					success :function()
					{	
						alert("NOTIFICATION READ");
						$('#'+this_id).hide('slow');																
					}		
				});

			});

		</script>

	</body>
</html>


