{% load staticfiles %}
<html>
	<body>
		<link rel="stylesheet" href="{% static "myprofile.css" %}">
		{% include 'navbar.html' %}	
		<h1>Hi! {{ user.username }}</h1>
		<h1> Your messaging </h1>
		<hr>
		<div class = "container">
			<div class = "row">
				<div class = "col-md-4 text-center">
					Group Conversations
					<hr>
					Friends
					<hr>
					{% for elem in my_friends %}
						<div class = "friends_elem" user1_uuid="{{my_uuid}}" user2_uuid="{{elem.id}}">
							{{elem.first_name}}&nbsp{{elem.last_name}}
						</div>
						<br>
					{% endfor %}
				</div>
				<div class = "col-md-8 text-center">
					Messages
					<hr>
					<div id="messages" class = "row">
						


					</div>
					<div id = "message_util">
						<input type="text" name="message_box" id = "message_box">
						<div class = "btn" "btn-default" id = "send_button"/>
							send
						</div>
					</div>
				</div>
			</div>
		</div>


			<style>
			.friends_elem,#send_button {
			 cursor: pointer; 
			 cursor: hand; 
			}
			#message_util{
				visibility: hidden;
			}

			</style>



			<script>
			//GET MESSAGE COUNTERS
			//REORDER LIST FRIENDS



			//GLOBALS
			var globalPoll;
			var currentUser1uuid;
			var currentUser2uuid;
			var currentUser1Name;
			var currentUser2Name;			
			var messageCounter = 0;
			var parent = document.getElementById("messages"); 
			//GLOBALS

			function emptyChat(){
				var myNode = document.getElementById("messages");
				while (myNode.firstChild) {
				    myNode.removeChild(myNode.firstChild);
				}				
			}


			function updateResult(result){
		        var json = jQuery.parseJSON(result['message_list'])
	        	for (var elem in json){
	        		messageCounter = messageCounter+1;
	        		console.log(json[elem]);
	        		from_id = json[elem]['fields']['user1_uuid'];
		        	var user;
		        	if(from_id == currentUser1uuid){
		        		user = document.createTextNode(currentUser1Name + " says:");
		        	}
		        	else{
		        		user = document.createTextNode(currentUser2Name + " says:");
		        	}
		        	var messagenode = document.createTextNode(json[elem]['fields']['message']);
		        	var breakLine = document.createElement("br");
		        	parent.appendChild(user);
		        	parent.appendChild(breakLine);				        	
		        	parent.appendChild(messagenode);
					parent.appendChild(breakLine);				        	
	        	}
			}

			function pollUpdates(user1_uuid,user2_uuid,counter){
				globalPoll = setInterval(function()
					{
					console.log("POLLING FOR" + user1_uuid + " AND " +user2_uuid);


			/*				$.ajax({
								success:function(result)
								{
									//stopEvent()
									//pollUpdates();
								}
							});
			*/			





				} , 5000)
			}


			$("#message_box").keyup(function(event){
			  if(event.which == 13){
				$('#send_button').trigger('click');			   
			  }
			});




			$('#send_button').click(function (e) {

				var formValue = document.getElementById("message_box");
				$.ajax({
					url:'/create_message/',
					type:'post',
					dataType:"json",
					data:{
						"user1_uuid": currentUser1uuid,
						"user2_uuid": currentUser2uuid,
						"message":formValue.value,
						"messageCounter":messageCounter,
						csrfmiddlewaretoken: '{{ csrf_token }}'
						},
					dataType:"json",
					success:function(result)
					{
						updateResult(result);

						console.log(formValue.value);
						formValue.value = ""
					}
				});
			});



			//ajax call to get that messages
			$('.friends_elem').click(function (e){
				//launch event to stop polling update
				console.log(globalPoll);
				clearInterval(globalPoll);				
				emptyChat();
				messageCounter = 0;
				console.log("friends_element clicked");
				var uuid1 = $(this).attr("user1_uuid");
				var uuid2 = $(this).attr("user2_uuid");
				var name1;
				var name2;
				e.preventDefault();
				$.ajax({
			        url: '/show_messages/',
			        type: 'post',
			        data:{
			        	"user1_uuid" : uuid1,
			        	"user2_uuid" : uuid2,
			        	csrfmiddlewaretoken: '{{ csrf_token }}'},
			        dataType: "json",
			      	success: function(result)
			        {
			        	console.log("RESULT:")
			        	console.log(result)
				        var json = jQuery.parseJSON(result['message_list'])
			        	console.log("RESULT:")
			        	console.log(json)
			        	name1 = result['user1_name']
			        	name2 = result['user2_name']
						currentUser1uuid = uuid1;
						currentUser2uuid = uuid2;
						currentUser1Name = name1;
						currentUser2Name = name2;	        	
			        	for (var elem in json){
			        		messageCounter = messageCounter+1;
			        		console.log(json[elem]);
			        		from_id = json[elem]['fields']['user1_uuid'];
				        	var user;
				        	if(from_id == currentUser1uuid){
				        		user = document.createTextNode(currentUser1Name + " says:");
				        	}
				        	else{
				        		user = document.createTextNode(currentUser2Name + " says:");
				        	}
				        	//user = user + " says :";
				        	var messagenode = document.createTextNode(json[elem]['fields']['message']);
				        	var breakLine = document.createElement("br");
				        	parent.appendChild(user);
				        	parent.appendChild(breakLine);				        	
				        	parent.appendChild(messagenode);
							parent.appendChild(breakLine);				        	
			        	}
						document.getElementById("message_util").style.visibility = "visible";			        	
			        	console.log("I AM SUCCESSS")
				        pollUpdates(name1,name2,messageCounter);			        	
			        }  	
				});

			});
			</script>
	</body>
</html>