{% extends "base_registration.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<script>
	$('html').hide();
	$(document).ready(function() {
		$('#id_username').attr("placeholder", "Email Address");
		$('#id_password').attr("placeholder", "Password");
		$('.control-label').remove();
		$('html').show();
	});
</script>


<div class='row'>
<div class='col-sm-4 col-sm-offset-4'>
	<div class = "well">
		<a href = "../../">
		<img class = "center-block" src="{% static "build/img/logo/primary_logo.png" %}"/>
		</a>
		<form method="post" action=".">
		  {% csrf_token %}
		  {{form | crispy}}

		  <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Login' %}"  />
		  <input type="hidden" name="next" value="{{ next }}" />
		</form>
		<div class = "sign-up">
		<a class = "sign-up" href="{% url 'registration_register' %}"> <div class = 'btn btn-block btn-success'>{% trans "Sign Up" %} </div> </a>
		</div>
	<div>

</div>
<hr/>
<div class='row'>
<div class='col-sm-6 col-sm-offset-3 text-align-center'>
<p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
</div>
</div>


<style>
	.login-label{
		text-align: center;
		margin-bottom: 50px;
		font-size:32px;
		color:orange;
	}
	.sign-up{
		margin-top: 20px;
	}
	.well{

	}
	.center-block{
		height:110px;
		width:250px;
		margin-bottom: 20px;
	}
	a:hover { 
	    text-decoration: none;
	}	
</style>

{% endblock %}
