{% load staticfiles %}

<!DOCTYPE html>
<html>

	<head>
	<!-- Latest compiled and minified CSS -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link href="{% static 'css/test.css' %}" rel="stylesheet">



  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">


	</head>

	<body>

	<h1>{{ name }}</h1>
	<div class = "container">
		<div class ="jumbotron">
			<h1>Hi!</h1>
			CSS TEST ON HOW TO WORK CSS
			<button class="btn btn-primary" data-target="#myModal">Login</button>

			<form action="" method="post">
			    {% csrf_token %}
			    {{ form }}
			    <input type="submit" value="Submit" />
			</form>


		<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <input id="tags">

<!-- MODAL-->
<!-- MODAL-->
<!-- MODAL-->
<!-- MODAL-->
<!-- MODAL-->
<!-- MODAL-->
<!-- MODAL-->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">Log In</h4>
		      </div>
		      <div class="modal-body">
		      	<div class ="container">
					Login<br/>
					<form action="" method="post">
					    {% csrf_token %}
					    {{login}}
					    <input type="submit" value="Submit" />
					</form>
		      	</div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>

		  </div>
		</div>

		</div>
	</div>








	</body>


</html>