{% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		{% include 'navbar.html' %}

		  <div class="row">
		    <div class="col-md-6">
		    	<h1>Find People</h1>
		    	<hr>
		    	<div class = "container">
					<form action="" method="get">
				    	university: {{ searchbar }}
						<input type="submit" value="search" name = "search" />
					</form>
				</div>
				<hr>
				{% if request.GET.query != "" %}
					{% if "search" in request.GET %}
					<h2> Search For {{request.GET.query}}</h2>
					<hr>
					{% endif %}
					<div class = "container">

<!-- 					<ul class="list-group">
					  <li class="list-group-item">First item </li>
					  <li class="list-group-item">Second item</li>
					  <li class="list-group-item">Third item</li>
					</ul> -->

					<ul class="list-group">
						{% for elem in result %}
							 <li class="list-group-item">
							<div>
								<img src = {{elem.profile_image.url}} height="42" width="42" />
								<a href="../show_user/?profile_id={{elem.id}}"> First name: {{elem.first_name}} 
								Last Name : {{elem.last_name}} </a>
							</div>
							</li>
						{% endfor %}
					</div>
					</ul>

				{% endif %}
				{% if not user.is_authenticated %}
					I AM NOT LOGIN
				{% endif%}

		    </div>
		  </div>
	</body>
</html>