{% load staticfiles %}
<html>
	<body>
		<link rel="stylesheet" href="{{ '/static/myprofile.css' }}">
		{% include 'navbar.html' %}	
		<h1>Hi! {{ user.username }}</h1>
		<h1> This is your profile </h1>
		<hr>
		<div class = "well">

			{{myprofile.profile_image.url}}	<br>		
			<img src = " {{myprofile.profile_image.url}} "/><br>
<!-- 			<img src = " {% static "/static/photos/76de327c-16ed-492b-ae9e-8ff6ca36af65.jpg" %} "/><br>
 -->
				first_name = {{myprofile.first_name}}<br>
				middle_name = {{myprofile.middle_name}}<br>
				last_name = {{myprofile.last_name}}<br>
				gender = {{myprofile.gender}}<br>
				nationality = {{myprofile.nationality}}<br>
				university = {{myprofile.university}}<br>
		</div>
<!-- 		<form action="" method="post">
			{{form}}	
			<input type="submit" value="upload" name = "upload" />	{%csrf_token%}		
		</form> -->

             <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <p>
                    <input id="id_image" type="file" class="" name="user_image">
                </p>
                <input type="submit" value="Submit" />
            </form>
 
	</body>

</html>