{% load staticfiles %}
{% load crispy_forms_tags %}

<html>
	<body>
		<link rel="stylesheet" href="{% static "myprofile.css" %}">
		{% include 'navbar.html' %}	
		<h1>Hi! {{ user.username }}</h1>
		<h1> Please Fill in Criteria </h1>
		<hr>




		<div class = "container">			
				    	<form action="" method="post">{% csrf_token %}
							{{ form | crispy }}
					        <input class='btn btn-success' type="submit" value="Submit" />
           				</form>
           				<a href = "../match_result" class = 'btn btn-primary'> Search</a>
		</div>

	</body>
</html>